<div class="filter">
  <h1 class="osLight">條件查詢</h1>
  <a href="#" class="handleFilter"><span class="icon-equalizer"></span></a>
  <div class="clearfix"></div>
  <form class="filterForm" style="display: none;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
        <div class="formField">
          <label>商家類型</label>
          <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
          <span class="dropdown-label">(尚未開放查詢)</span>
          <span class="fa fa-angle-down dsArrow"></span>
          </a>
          <ul class="dropdown-menu dropdown-select full" role="menu">
            <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">All</a></li>
            <li><input type="radio" name="pType"><a href="#">便當正餐</a></li>
            <li><input type="radio" name="pType"><a href="#">商務便當</a></li>
            <li><input type="radio" name="pType"><a href="#">低卡少納</a></li>
            <li><input type="radio" name="pType"><a href="#">下午茶</a></li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>