<!-- Left Side Navigation -->
<%= render 'common/leftside' %>
<!-- Content -->
<div id="wrapper" class="full">
  <div id="content" class="max">
    <div class="whiteBg">
      <div class="row gridSystem">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
            我們致力於建立一個健康的外食餐飲生態，我們深信在台灣不只有義美，需要大家用新台幣支持！還有許多用心經營的在地商家，正在這片土地默默付出，但這些店家沒有額外的「廣告預算」來讓更多人有機會認識到，雖然能靠著食客間的口耳相傳，但這樣的力量還是有限，因此服務團隊踏遍每條大街小巷，只為找出這些真正為食客著想的良心商家，讓每一位消費者不只吃的開心還吃得放心，也共同守護著這些正在為我們健康努力的商家！ 
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/assets/images/avatar-2.png" class="home-testim-avatar" alt="Jane Smith">
                  <div class="home-testim">
                    <div class="home-testim-text">我是個能為了林鳳營毒奶氣到不能自我的人, 在食安問題日益嚴重的台灣, 期許能用coding的力量為所有人做些有意義的事,打算先從改變上班族的用餐習慣作為切入點,讓用餐時刻不再是煩惱而是種放鬆的享受.</div>
                    <div class="home-testim-name">蔡煒正</div>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/images/avatar-3.png" class="home-testim-avatar" alt="Rust Cohle">
                  <div class="home-testim">
                    <div class="home-testim-text">默默付出的一群人往往無法與龐大勢力抗衡，顧希望能藉由我們的服務能讓更多人認識他們!</div>
                    <div class="home-testim-name">林韋宗</div>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/images/avatar-3.png" class="home-testim-avatar" alt="Rust Cohle">
                  <div class="home-testim">
                    <div class="home-testim-text">認真開發更多在地優質商家, 提供更多好吃、安心的商家, 以讓外食族吃得開心為使命. </div>
                    <div class="home-testim-name">蕭易洋</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
            <a href="https://www.facebook.com/groups/993935550624428/">前往臉書</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>