<!-- Left Side Navigation -->
<%= render 'common/leftside' %>
<!-- Content -->
<div id="wrapper" class="full">
  <div id="content" class="max">
    <div class="whiteBg">
      <div class="row gridSystem">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">放商品</div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">放結帳清單</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>