<div class="headerNotifyWraper">
  <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
  <span class="notifyIcon fa fa-shopping-cart"></span>
  <span class="counter"><%= @cis.count %></span>
  </a>
  <div class="dropdown-menu pull-right notifyMenu" role="menu">
    <div class="notifyHeader">
      <span>購物車內的商品</span>
      <a href="#" class="notifyS ettings icon-settings"></a>
      <div class="clearfix"></div>
    </div>
    <ul class="notifyList">
      
      <li>
        <a href="#">
        <div class="notifyRound notifyRound-red fa fa-envelope-o"></div>
        <div class="pulse border-red"></div>
        <div class="notify pull-left">
          <div class="notifyName"></div>
          <div class="notifyTime">
            
          </div>
        </div>
        <div class="clearfix"></div>
        </a>
      </li>

    </ul>
    <a href="#" class="notifyAll">前往結帳</a>
  </div>
</div>