<div id="header">
  <div class="logo">
    <%= link_to stores_url do %>
    <span class="fa fa-home marker"></span>
    <span class="logoText">HOME</span>
    <% end %>
  </div>
  <a href="#" class="navHandler"><span class="fa fa-bars"></span></a>
  <div class="search">
    <span class="searchIcon icon-magnifier"></span>
    <input type="text" placeholder="輸入商家名">
  </div>
  <% if user_signed_in? %>
  <div class="headerUserWraper">
    <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
    <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
    <img class="avatar headerAvatar pull-left" src="/assets/images/avatar-1.png" alt="avatar">
    <div class="userTop pull-left">
      <span class="headerUserName">Action</span> <span class="fa fa-angle-down"></span>
    </div>
    <div class="clearfix"></div>
    </a>
    <div class="dropdown-menu pull-right userMenu" role="menu">
      <div class="mobAvatar">
        <img class="avatar mobAvatarImg" src="/assets/images/avatar-1.png" alt="avatar">
        <div class="mobAvatarName">Action</div>
      </div>
      <ul>
        <li><a href="#"><span class="icon-settings"></span>訂單查詢</a></li>
        <li class="divider"></li>
        <li>
          <%= link_to  destroy_user_session_path, method: :delete do %>
          <span class="icon-power"></span>Logout
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <% else %>
  <div class="headerUserWraper">
    <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">訪客</span></a>
    <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
    <img class="avatar headerAvatar pull-left" src="/assets/images/avatar-1.png" alt="avatar">
    <div class="userTop pull-left">
      <span class="headerUserName">訪客</span> <span class="fa fa-angle-down"></span>
    </div>
    <div class="clearfix"></div>
    </a>
    <div class="dropdown-menu pull-right userMenu" role="menu">
      <ul>
        <li>
          <%= link_to new_user_registration_path, remote: true do %>
          <span class="icon-settings"></span>註冊
          <% end %>
        </li>
        <li>
          <%= link_to user_session_path, remote: true do %>
          <span class="icon-user"></span>登入
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
 <!--head cart 暫時沒用-->
  <!-- <a href="#" class="mapHandler"><span class="icon-map"></span></a> -->
  <div class="clearfix"></div>
</div>